<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
    

  I love GDG!
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BarterWebsite-20140531141917;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BarterWebsite-20140531141917.mdf" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.BarterWebsiteModel.csdl|res://*/Models.BarterWebsiteModel.ssdl|res://*/Models.BarterWebsiteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=C:\dev\BarterWebsite\BarterWebsite\App_Data\aspnet-BarterWebsite-20140531141917.mdf;initial catalog=aspnet-BarterWebsite-20140531141917;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
