@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>#MaconMakers Community Exchange</h1><br />
                <h2>Offer Your Stuff, Get Cool Stuff, No money allowed.</h2>
            </hgroup>
            <p>
                On the ______ of every month, #MaconMakers will meet at _____ for a #MaconMakers community exchange or barter market. 
                No currency is allowed, only creativity. Trade your unused stuff with neighbors. 
                Or trade acts of service (e.g. paint a fence, let someone use your printer, guitar lessons), trade stories, trade your own artwork, trade hugs. Repurpose an old building or unused space while fostering a sense of community and fun.
            </p>
        </div>
    </section>
}
<h3>How To Get Started:</h3>
<ol >
    <li ><a href="/Account/Register">Register</a> on the site.</li>
    <li >Edit your <a href="/MyProfile/Edit">profile qualifications.</a></li>
    <li ><a href="/Trade/ShareGoodsAndServices">Post goods/services for trade</a> on your profile.</li>
    <li >step 4</li>

</ol>


<p>The idea for #MaconMakers Community exchange was inspired by 
    <a href="https://openideo.com/challenge/vibrant-cities/winners-announced/instead-of-a-farmer-s-market-create-a-barter-market">
    Brian Redondo
    </a>
</p>