@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Cool App Name Goes Here</h1><br />
                <h2>Fun Tag Line</h2>
            </hgroup>
            <p>
                Elevator pitch goes here.
            </p>
        </div>
    </section>
}
<h3>How To Get Started:</h3>
<ol >
    <li ><a href="/Account/Register">Register</a> on the site.</li>
    <li >Edit your <a href="/MyProfile/Edit">profile qualifications.</a></li>
    <li ><a href="/Trade/ShareGoodsAndServices">Post goods/services for trade</a> on your profile.</li>
    <li >step 4</li>

</ol>
